<nav class="menu">
	<ul class="menuList text-center">
		<li class="menuListElement"><a style="text-decoration: none;" href="#/!">HOME</a></li>
		<li class="menuListElement dropdwn" ><a style="text-decoration: none;" href="#!page1" class="dropbtn text-center">PAGE 1</a>
			<div class="dropdown-content text-left">
				<a style="text-decoration: none;" href="#!drop1">DROP1</a>
				<a style="text-decoration: none;" href="#!drop2">DROP2</a>
			</div>
		</li>
		<li class="menuListElement"><a style="text-decoration: none;" href="#!page2">PAGE 2</a></li>
	</ul>
</nav>