@charset "UTF-8";
/* CSS Document */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	margin: 0;
	padding: 0;
}
/*
 * HEADER
 */
.menuList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.menuListElement {
	display: inline;
}
.menuListElement a, .dropbtn {
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
.menuListElement a:hover, .dropdwn:hover .dropbtn {
    background-color: black;
	color: white;
}
.menuListElement.dropdwn {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
	background-color: black;
}
.dropdwn:hover .dropdown-content {
    display: block;
}